.head{
   display: flex;
   justify-content: center;
   font-family: cursive;
}
html{
    margin: 0;
    background-color: lightseagreen;
}
.inputbox{
    margin: auto;
    margin-top: 90px;
    height: 500px;
    width: 500px;
    border: 3px solid black;   
}
.title{
    display: flex;
    justify-content: center;
}
.inputarea{
    margin-top: 25px;
    margin-left: 30px;
    padding: 10px;
    font-size: 20px;
}
.button{
    margin-left: 370px;
    padding: 5px;
    border-radius: 5px;

}
