.head{
   display: flex;
   justify-content: center;
   font-family: cursive;
}
html{
    margin: 0;
    background-color: lightseagreen;
}
.inputbox{
    margin: auto;
    margin-top: 90px;
    height: 500px;
    width: 500px;
    border: 3px solid black;   
}
